{% extends "main.html" %} {% block content %}
<div class="col-md-4">
    <h3>Categories</h3>
    <ul>
        {% for catalog in catalogs %}
        <li><a href="/catalog/{{ catalog.name }}">{{ catalog.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="col-md-8">
    <h3>{{ catalog.name }} items</h3>
    <ul>
        {% for item in items %}
        <li><a href="/catalog/{{item.catalog.name}}/{{ item.name }}">{{ item.name }} <i>( {{item.catalog.name}} )</i></a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}